<section class="hero" id="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 grid__item text-center">
                <span class="bold mob-show">Henry Mascot</span>
                <a class="link link--takiri" href="#">Henry Masc<img src="img/smile.png" width="50px">t<span>aka #executionMafia</span></a>
            </div>
        </div>
        <div class="col-md-12 text-right navicon">
            <a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>
        </div>
    </div>
    <div class="row" id="f-row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mission" style="margin-top:20%">
            <h4 class="header-text-l">On a <span class="bold">mission</span> to have global impact</h4>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="intro-message">
                <img src="img/HenryMascot-dp0.png" width="80%">
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 passion">
            <div class="header-text-r">
                <h4><span class="bold">passionate</span> about
                                <br/>
                                <img src="svg/conference_call.svg" width="50px"> helping people
                                <br/>
                                <img src="svg/engineering.svg" width="50px"> + technology
                                <br/>
                                <img src="svg/support.svg" width="50px"> + building systems</h4>
            </div>
        </div>
    </div>
</section>
</header>
<section class="intro text-center section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 wp1">
                <h1 class="arrow">A brief story</h1>
                <p id="easing" data-3900="left:100%" data-4600="left:25%;" class="skrollable skrollable-between" style="left: 48.1428571428571%;">
                    <img src="svg/alphabetical_sorting_az.svg">
                </p>

            </div>
        </div>
    </div>
</section>
<section class="features text-center section-padding" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="arrow">Love what you do, and you'll do it well</h1>
                <div class="features-wrapper">
                    <div class="col-md-4 wp2">
                        <div class="icon">
                            <img src="svg/reading_ebook.svg">
                        </div>
                        <h2></h2>
                        <p><span>I was Born in Eastern Nigeria in the nineties ... <i>too vague? </i>maybe hehe.</span>
                            <br/> I was naturally <span class="sbold"> enterprising</span> at a young age looking for ways to make money. #igboKWENU! I became a tech junkie from early days of high school.. breaking all the electronics at home looking for resistors and capacitors...
                            <br/> "Not Funny - Mum" </p>
                    </div>
                    <div class="col-md-4 wp2 delay-05s">
                        <div class="icon">
                            <img src="svg/factory_breakdown.svg">
                        </div>
                        <h2></h2>
                        <p>
                            From a really early age I wanted to have many companies... as I grew up I learnt it was called a <span class="sbold">conglomerate.</span> I dreamt of board meetings across the globe... YES MAN! Then as I grew up a bit more I learnt another fancy word for it <span class="sbold"> serial enterpreneurship</span>...
                        </p>
                    </div>
                    <div class="col-md-4 wp2 delay-1s">
                        <div class="icon">
                            <img src="svg/graduation_cap.svg">
                        </div>
                        <h2></h2>
                        <p>
                            I went to the university and got a bachelors of engineering in Metallurgy and Material Science... but alas i was hooked by <span class="sbold">software development</span>...
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="text-center" id="responsive">
    <div class="container-fluid nopadding responsive-services">
        <div class="wrapper">
            <div class="iphone">
                <div class="wp3"></div>
            </div>
            <div class="fluid-white"></div>
        </div>
        <div class="container designs">
            <div class="row">
                <div class="col-md-5 col-md-offset-7">


                    <p>
                        <a class="twitter-timeline" href="https://twitter.com/iAmHenryMascot" data-widget-id="255164258789232640">Tweets by @iAmHenryMascot</a>
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="swag text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p class="text mest-text">I'm an Enterpreneur in Training at
                    <a href="http://meltwater.org"><img class="mest-img" src="http://mestghana.wpengine.com/wp-content/uploads/2015/05/mestlogo_websitelogo10.png"> </a> right now <em>before then I started things</em> </span>
                </p>
                <a href="#portfolio" class="down-arrow-btn"><i class="fa fa-chevron-down"></i></a>
            </div>
        </div>
    </div>
</section>
<section class="portfolio text-center section-padding" id="portfolio">
    <div class="container">
        <div class="row">
            <div id="portfolioSlider">
                <ul class="slides">
                    <li>
                        <div class="col-md-4 wp4">
                            <div class="overlay-effect effects clearfix">
                                <div class="img">
                                    <img src="img/portfolio-01.jpg" alt="Portfolio Item">
                                    <div class="overlay">
                                        <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                                        <a class="close-overlay hidden">x</a>
                                    </div>
                                </div>
                            </div>
                            <h2>HUB10</h2>
                            <p>I cofounded a tech hub/co-working space in Enugu,Nigeria. Tasked with creating creating a tech savvy community of developers and enterpreneurs who have a culture of collaboration. Technically it takes 20 years to do this (StartupCommunities - ), so <span>oncourse</span></p>
                        </div>
                        <div class="col-md-4 wp4 delay-05s">
                            <div class="overlay-effect effects clearfix">
                                <div class="img">
                                    <img src="img/portfolio-02.jpg" alt="Portfolio Item">
                                    <div class="overlay">
                                        <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                                        <a class="close-overlay hidden">x</a>
                                    </div>
                                </div>
                            </div>
                            <h2>Smashrite</h2>
                            <p>An Edtech startup, we wanted to help students effectively prepare for their exams. </p>
                        </div>
                        <div class="col-md-4 wp4 delay-1s">
                            <div class="overlay-effect effects clearfix">
                                <div class="img">
                                    <img src="img/portfolio-03.jpg" alt="Portfolio Item">
                                    <div class="overlay">
                                        <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                                        <a class="close-overlay hidden">x</a>
                                    </div>
                                </div>
                            </div>
                            <h2>Velexo IT</h2>
                            <p>A tech consultancy agency, with about 30 web portfolios and 2 ERPS. Working by the law of compound ...these nos will keep increasing.</p>
                        </div>
                    </li>
                    <!--<li>
                                <div class="col-md-4 wp4">
                                    <div class="overlay-effect effects clearfix">
                                        <div class="img">
                                            <img src="img/portfolio-01.jpg" alt="Portfolio Item">
                                            <div class="overlay">
                                                <a href="#" class="expand"><i class="fa fa-arrow"></i><br>View More</a>
                                                <a class="close-overlay hidden">x</a>
                                            </div>
                                        </div>
                                    </div>
                                    <h2>Creative Minds</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                                </div>
                                <div class="col-md-4 wp4 delay-05s">
                                    <div class="overlay-effect effects clearfix">
                                        <div class="img">
                                            <img src="img/portfolio-02.jpg" alt="Portfolio Item">
                                            <div class="overlay">
                                                <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                                                <a class="close-overlay hidden">x</a>
                                            </div>
                                        </div>
                                    </div>
                                    <h2>Creative Hearts</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                                </div>
                                <div class="col-md-4 wp4 delay-1s">
                                    <div class="overlay-effect effects clearfix">
                                        <div class="img">
                                            <img src="img/portfolio-03.jpg" alt="Portfolio Item">
                                            <div class="overlay">
                                                <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                                                <a class="close-overlay hidden">x</a>
                                            </div>
                                        </div>
                                    </div>
                                    <h2>Creative Ideas</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                                </div>
                            </li>-->
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="ignite-cta text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="#/blog" class="ignite-btn">Ignite Your Passion</a>
            </div>
        </div>
    </div>
</div>
<section class="team text-center section-padding" id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="arrow">ok.. enough of the serious things... whats fun for me?</h1>
            </div>
        </div>
        <div class="row">
            <div class="team-wrapper">
                <div id="teamSlider">
                    <ul class="slides">
                        <li>
                            <div class="col-md-4 wp5">
                                <img src="svg/headset.svg" alt="Music">
                                <h2>Music</h2>
                                <p>ofcos who doesnt like music... for me though its jazz and the classics ... lil bit of hip hop and rnb down the drain... want specifics? Adele kills it for me.</p>
                                <div class="social">
                                </div>
                            </div>
                            <div class="col-md-4 wp5 delay-05s">
                                <img src="svg/reading.svg" alt="Books">
                                <h2>Books</h2>
                                <p>I lived a thousand lives... went to Hogwarts for a couple of years. Feelin love a couple of times in space. Hung out with Sherlock and Watson as the solved amazing cases... delved into the depths of Westeros with ma man Tyrion.</p>
                                <div class="social">
                                </div>
                            </div>
                            <div class="col-md-4 wp5 delay-1s">
                                <img src="svg/film_reel.svg" alt="Movies">
                                <h2>Movies</h2>
                                <p> Yea I do this when I can... favs: 007, Edge of Tomorrow, inshort if it has too much drama or ends with a tragedy... Not for me.
                                </p>
                                <div class="social">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-md-4 wp5">
                                <img src="svg/music.svg" alt="Dancing">
                                <h2>Dancing</h2>
                                <p>Shake Shake Shake ... get down come on! hehe ... any way you want it lets go... party style? hehe.. Kazumba, Salsa... one day I'll add Waltz</p>
                                <div class="social">
                                </div>
                            </div>
                            <div class="col-md-4 wp5 delay-05s">
                                <img src="svg/multiple_inputs.svg" alt="Creating">
                                <h2>Creating</h2>
                                <p>Whether its coding an app... or designing UI for something... or LEGO. niggi I just love to create... lets make babies ): </p>
                                <div class="social">
                                </div>
                            </div>
                            <div class="col-md-4 wp5 delay-1s">
                                <img src="svg/conference_call.svg" alt="hangout">
                                <h2>Meeting folks</h2>
                                <p>I love to hangout hangout ...</p>
                                <div class="social">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="subscribe text-center">
    <div class="container">
        <h1><i class="fa fa-paper-plane"></i><span>Lets be Social</span></h1>
        <div class="social">
            <ul class="social-buttons">
                <li>
                    <a href="www.twitter.com/iamhenrymascot" class="social-btn"><img src="img/social/twitter.png"></a>
                </li>
                <li>
                    <a href="www.linkedin.com/in/henrymascot" class="social-btn"><img src="img/social/linkedin.png"></a>
                </li>
                <li>
                    <a href="www.facebook.com/henryifeanyimascot" class="social-btn"><img src="img/social/facebook.png"></a>
                </li>
                <li>
                    <a href="www.instagram.com/henrymascot" class="social-btn"><img src="img/social/instagram.png"></a>
                </li>
                <li>
                    <a href="#" class="social-btn"><img src="img/social/youtube.png"></a>
                </li>
                <li>
                    <a href="#" class="social-btn"><img src="img/social/google.png"></a>
                </li>
                <li>
                    <a href="#" class="social-btn"><img src="img/social/rss.png"></a>
                </li>
                <li>
                    <a href="#" class="social-btn"><img src="img/social/skype.png"></a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="dark-bg text-center section-padding contact-wrap" id="contact">
    <a href="#top" class="up-btn"><i class="fa fa-chevron-up"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="arrow">Get in touch</h1>
            </div>
        </div>
        <div class="row contact-details">
            <div class="col-md-4">
                <div class="light-box box-hover">
                    <h2><img src="svg/landscape.svg"><span>Address</span></h2>
                    <p>Accra | Lagos | Silicon Valley</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="light-box box-hover">
                            <h2><img src="img/whatsapp.png"><span>Whatsapp</span></h2>
                            <p>+2348069008601</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="light-box box-hover">
                            <h2><img src="svg/phone.svg"><span>Call</span></h2>
                            <p>+233272441890</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="light-box box-hover">
                    <h2><img src="svg/feedback.svg"><span>Email</span></h2>
                    <p><a href="#">me@henrymascot.com</a></p>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
</section>